/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --section-title-color: rgb(255 0 112);
  --main-accent-color: rgb(255 0 112);
  --hover-border-color: rgb(255 0 112 / 0.4);
  --main-title-color: #db00ff;
  --main-font-color: #f1b2ce;
  --main-decor-color: rgb(255 0 112);
  --main-button-color: rgb(255 0 112);
  --main-bg-color: #000028;
  --section-title-bg-color: rgb(255 0 112);
}

@media (prefers-color-scheme: dark) {
  .header__decorations {
    display: block;
  }

  .theme-dark .header__decorations {
    display: block;
  }
}