/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --main-subhead-font-color: #000028;
  --subhead-bg-color: #FF0070;
  --header-text-color: rgba(0, 0, 40, 1);
  --section-head-font-color: #FF0070;
  --main-decor-color: #FF0070;
  --main-font-color: #F1B2CE;
  --link-text-shadow: #FF0070;
  --link-color: #F1B2CE;
  --header-text-bg-color: #FF0070;
  --header-title-font-color: #DB00FF;
  --header-title-text-shadow: #FF0070;
  --header-menu-border-color: rgba(255, 0, 112, 1);
  --header-menu-text-color: #FF0070;
  --menu-decor-color: #FF0070;
  --link-decor-color: #F1B2CE;
  --head-text-bg-color: #FF0070;
}

.theme-dark .header__decorations {
  display: block;
}