/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root.theme-light {
  --main-bg-image: url(../images/cover-image-light.png);
  --section-title-color: #353430;
  --main-accent-color: #ff8dcb;
  --hover-border-color: rgba(50 49 45/ 0.4);
  --main-title-color: #ffc2e6;
  --main-font-color: #353430;
  --main-decor-color: #ff8dcb;
  --main-button-color: #353430;
  --main-bg-color: #fff1f7;
  --section-title-bg-color: #ff8dcb;
  --section-subhead-bg-color: #ff8dcb;
  --sub-subhead-bg-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --main-bg-image: url(../images/cover-image-light.png);
    --main-accent-color: #ff8dcb;
    --hover-border-color: rgba(50 49 45/ 0.4);
    --main-title-color: #ffc2e6;
    --main-font-color: #353430;
    --main-decor-color: #353430;
    --main-button-color: #353430;
    --main-bg-color: #fff1f7;
    --section-title-color: #ff8dcb;
    --section-subhead-bg-color: #ff8dcb;
    --sub-subhead-bg-color: #ff8dcb;
  }

  .header__decorations {
    display: none;
  }
}

.theme-light .header__decorations {
  display: none;
}
