/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*
________________________________________________________________________________


Header section

________________________________________________________________________________
*/

.page {
  background-image: var(--background-image-main);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(0 15 48);
  max-width: 375px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-content: center;
  text-wrap: wrap;
}

.header {
  display: grid;
  max-height: 100vh;
  min-height: 668px;
  grid-template-columns: auto;
  margin-bottom: 40px;
}

.header__theme-menu {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  inline-size: 70px;
  block-size: 98px;
  justify-self: end;
  padding-top: 75px;
}

.header__theme-menu-item {
  list-style: none;
  border: none;
  gap: 10px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size-section-head);
  font-weight: var(--main-font-weight-text);
  line-height: 100%;
  color: var(--main-background-color-article-subhead);
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 20px;
}

.header__theme-menu-button {
  padding-inline: 13px;
  background-color: transparent;
  border: none;
}

.title {
  justify-self: center;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size-header-title);
  font-weight: var(--main-font-weight);
  color: var(--main-theader-section-title-txt-color);
  text-shadow: 4px 4px 0 #FF0070;
  text-justify: center;
}

.header-title {
  padding-top: 100px;
  line-height: 100px;
}


.header__text {
  --main-font-line-height: 23.4px;

  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size-section-head);
  font-weight: var(--main-font-weight);
  line-height: var(--main-font-line-height);
  color: var(--main-text-color-article-subhead);
  background-color: var(--main-text-color-article-head);
  block-size: fit-content;
  inline-size: inherit;
  margin-bottom: 45px;
}




/*
________________________________________________________________________________


main section

________________________________________________________________________________
*/

.main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  inline-size: 375px;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  text-wrap: wrap;
}

/*
________________________________________________________________________________


main section sections

________________________________________________________________________________
*/

.main__section-head {
  inline-size: 375px;
  color: var(--main-text-color-article-head);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.main__section-head:not(:first-child, :last-child) {
  padding-top: 50px;
}

.main__section-article {
  margin-top: 20px;
  margin-bottom: 50px;
}

.main__section-subhead {
  inline-size: calc(375px - 20px);
  background-color: var(--main-background-color-article-subhead);
  color: var(--main-text-color-article-subhead);
  font-family: inherit;
  font-size: var(--main-font-size);
  
}

.main__section-text {
  font-family: inherit;
  font-weight: var(--main-font-weight-text);
  line-height: 23.4px;
  inline-size: calc(375px - 20px);
}


.main__section-text-link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: var(--main-text-span-color);
  text-shadow: 2px 2px 0 var(--main-text-span-shadow);
  text-decoration: none;
}

/*
________________________________________________________________________________


main section picture section

________________________________________________________________________________
*/

.main__section-in-pictures {
  display: grid;
  grid-template-columns: 375px;
  gap: 10px;
}

.main__section-image {
  inline-size: 354.999px;
}

/*
________________________________________________________________________________


footer section

________________________________________________________________________________
*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 667px;
  padding: 0;
}
