/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family), sans-serif;
  background-image: var(--main-bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: var(--main-font-size, 1.125rem);
}

/*
________________________________________________________________________________


header section decorations

________________________________________________________________________________
*/

.header__decorations {
  display: block;
  position: absolute;
  color: var(--main-decor-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23.4px;
  right: calc(28px + var(--main-page-padding));
  top: calc(1px + var(--main-page-padding));
}

.header__decorations::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 7px;
  background-color: var(--main-decor-color);
  block-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--main-decor-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: var(--main-page-padding);
  block-size: 25px;
  inline-size: 25px;
  bottom: var(--main-page-padding);
  border-inline-start: 1px var(--main-decor-color) solid;
  border-block-end: 1px var(--main-decor-color) solid;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  top: var(--main-page-padding);
  right: var(--main-page-padding);
  border-inline-end: 1px var(--main-decor-color) solid;
  border-block-start: 1px var(--main-decor-color) solid;
}


/*

________________________________________________________________________________


Header section

________________________________________________________________________________
*/

.header {
  padding: var(--main-page-padding);
  position: relative;
  min-block-size: min-content;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-block: 30px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  line-height: 18px;
  border: 1px transparent solid;
  color: var(--header-menu-text-color);
  padding: 2px 13px 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/*

________________________________________________________________________________


состояния кнопок темы

________________________________________________________________________________
*/

.header__theme-menu-button_active {
  border: 1px var(--menu-decor-color) solid;
}

.header__theme-menu-button:hover {
  border: 1px var(--menu-hover-color) solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--menu-decor-color) solid;
}

/*

________________________________________________________________________________


состояния кнопок темы

________________________________________________________________________________
*/

.title {
  font-size: var(--main-title-font-size);
  line-height: var(--main-title-line-height );
  color: var(--header-title-font-color);
  text-shadow: 4px 4px 0 var(--header-title-text-shadow);
}

.header__text-container {
  align-self: center;
}

.header__text{
  /* --main-font-color: #000028; */

  font-weight: bold;
  background-color: var(--head-text-bg-color);
  color: var(--header-text-color);
}

/*
________________________________________________________________________________


main section

________________________________________________________________________________
*/

.main {
  padding: 0 var(--main-page-padding);
  margin-block: var(--main-margin-block);
  line-height: var(--main-line-height);
  color: var(--main-font-color);
}

/*
________________________________________________________________________________


main section sections

________________________________________________________________________________
*/

.main__section-head {
  margin-block-end: 20px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--section-head-font-color);
}

.main__section:not(:last-child) {
  margin-block-end: var(--main-section-margin);
}

.main__section-article:not(:last-child) {
  margin-block-end: 20px;
}

.main__section-subhead {
  margin-block-end: 10px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--subhead-bg-color);
  color: var(--main-subhead-font-color);
}

.main__section-text-link {
  text-shadow: 2px 1.5px 0 var(--link-text-shadow);
  text-decoration: none;
}

/*

________________________________________________________________________________


состояния ссылок

________________________________________________________________________________
*/

.main__section-text-link:hover {
  border-bottom: 1px var(--link-color) solid;
}

.main__section-text-link:focus {
  outline: none;
}

.main__section-text-link:focus-visible {
  outline: 1px var(--link-color) solid;
}

/*

________________________________________________________________________________


состояния ссылок

________________________________________________________________________________
*/

.main__section-text:not(:last-child) {
  margin-block-end: 10px;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}

.main__section-sub-subhead {
  /* --main-font-color: #000028; */

  margin-block-end: 20px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--subhead-bg-color);
  color: var(--main-subhead-font-color);
}

/*
________________________________________________________________________________


main section picture section

________________________________________________________________________________
*/

.main__section-in-pictures-subhead {
  /* --main-font-color: #000028; */

  font-size: var(--main-font-size);
  background-color: var(--subhead-bg-color);
  color: var(--main-subhead-font-color);
}

.main__section-images-container {
  display: grid;
  margin-block-start: 10px;
  grid-template-columns: 1fr;
  gap: 10px;
}

.main__section-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/*
________________________________________________________________________________


footer section

________________________________________________________________________________
*/

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  align-items: center;
  padding: var(--main-page-padding);
  text-align: center;
}




@media (min-width: 768px) {

  .header {
    padding-left: 0;
  }

  .header__text-container {
    inline-size: calc((100% - var(--main-page-padding)) / 2);
    justify-self: end;
  }

  .main__section:nth-child(odd) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .main__section-head {
    inline-size: 236px;
  }

  .main__section-sub-subhead {
    block-size: fit-content;
  }

  .main__section-article-list {
    grid-column: 2;
  }

  .main__section-images-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 10px;
  }

  .main__section-image:nth-child(1) {
    grid-column: 1/3;
  }

  .main__section-image:nth-child(2) {
    grid-column: 3;
    grid-row: -4/-2;
  }

  .main__section-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .main__section-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .main__section-image:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-inline-start: var(--main-page-padding);
    padding-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section-head {
    min-width: 315px;
  }

  .main__section:nth-child(even) .main__section-article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  /* .main__section-images-container {
    margin-block-start: 20px;
  } */
}