/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--main-theme-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-gb-color);
  max-inline-size: 375px;
}

/*

________________________________________________________________________________


Header section

________________________________________________________________________________
*/
.header {
  --main-text-color: #FF0070;
  --main-font-size: 18px;
  --main-font-style: normal;
  --main-font-weight: 400;
  --main-line-height: 18px;

  margin-inline-start: 10px;
  margin-inline-end: 10px;
  block-size: 100vh;
  max-block-size: 668px;
  display: grid;
  grid-template-columns: 375px;
  font-family: var(--main-font-family), sans-serif;
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
}

.header__span {
  --main-line-height: 25px;

  justify-self: end;
  padding-block-start: 10px;
  padding-inline-end: 28px;
  line-height: var(--main-line-height);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-inline-end: 9px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
}

.title {
  --main-font-size: 116px;
  --main-font-weight: 700;
  --main-line-height: 95.7px;
  --main-text-color: #DB00FF;

  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  text-shadow: var(--main-text-shadow);
}

.header-title {
  padding-block-start: 60px;
}

.header__text {
  --main-text-color: #000028;
  --main-line-height: 130%;
  --main-font-weight: 700;

  line-height: var(--main-line-height);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  background-color: #FF0070;
  max-block-size: 117px;
  max-inline-size: 355px;
  margin-block-end: 20px;
  /* margin-inline: 10px; */
  margin-block-start: 15px;
}

/*
________________________________________________________________________________


main section

________________________________________________________________________________
*/
.main {
  --main-text-color: #F1B2CE;
  --main-font-size: 18px;
  --main-font-style: normal;
  --main-font-weight: 400;
  --main-line-height: 23.4px;

  display: grid;
  grid-template-columns: 375px;
  align-self: center;
  gap: 40px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
}

/*
________________________________________________________________________________


main section sections

________________________________________________________________________________
*/
.main__section-head {
  --main-text-color: #FF0070;
  --main-font-size: 18px;
  --main-font-weight: 700;

  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 20px;
}

.main__section-subhead {
  --main-text-color: #000028;
  --main-font-size: 18px;
  --main-font-weight: 700;

  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  background-color: #FF0070;
  margin-inline: 10px;
  margin-block-end: 10px;
}

.main__section-subhead-middle {
  margin-block: 10px;
}

.main__section-low-move {
  padding-block-start: 40px;
}

.main__section-text-low-move {
  padding-inline: 10px;
  margin-block-end: 20px;
}

.main__section-text-padding-low {
  padding-block-end: 10px;
  padding-inline: 10px;
}

.main__section-text {
  padding-inline: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.main__section-move-hard {
  /* margin-block-start: 100px; */
}

.main__section-subMainHead {
  --main-text-color: #000028;
  --main-font-size: 18px;
  --main-font-weight: 700;

  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  background-color: #FF0070;
  margin-inline: 10px;
  margin-block-end: 20px;
}
/*
________________________________________________________________________________


main section picture section

________________________________________________________________________________
*/
.main__section-in-pictures {
  display: grid;
  gap: 10px;
  padding-block-start: 16px;
}

.main__section-image {
  max-inline-size: 355px;
  justify-self: center;
}


/*
________________________________________________________________________________


footer section

________________________________________________________________________________
*/

.footer {
  display: grid;
  min-block-size: 667px;
  justify-self: center;
}

.footer__title {
  --main-text-color: #DB00FF;
  --main-font-size: 116px;
  --main-font-style: bold;
  --main-font-weight: 700;
  --main-line-height: 95.7px;
  --main-text-shadow: 2px 2px 0 #FF0070;

  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  color: var(--main-text-color);
  text-shadow: var(--main-text-shadow);
  padding-block-start: 286px;
}
