/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-page-padding: 10px;
  --main-margin-block: 40px;
  --main-section-margin: 50px;
  --main-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  --main-font-size: 1.125rem;
  --main-line-height: 23.4px;
  --main-font-family: "IBM Plex mono";
  --main-bg-color: #000028;
  --main-subhead-font-color: #000028;
  --subhead-bg-color: #FF0070;
  --header-text-color: rgba(0, 0, 40, 1);
  --section-head-font-color: #FF0070;
  --main-decor-color: #FF0070;
  --main-font-color: #F1B2CE;
  --link-text-shadow: #FF0070;
  --link-color: #F1B2CE;
  --header-text-bg-color: #FF0070;
  --header-title-font-color: #DB00FF;
  --header-title-text-shadow: #FF0070;
  --header-menu-border-color: rgba(255, 0, 112, 1);
  --header-menu-text-color: #FF0070;
  --menu-decor-color: #FF0070;
  --link-decor-color: #F1B2CE;
  --head-text-bg-color: #FF0070;
  --footer-text-shadow: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}

@media (min-width: 768px) {
  :root {
    --main-page-padding: 20px;
    --main-margin-block: 60px;
    --main-section-margin: 80px;
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-title-line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }

}