/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-page-padding: 10px;
  --main-margin-block: 40px;
  --main-section-margin: 50px;
  --main-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  --main-font-size: 1.125rem;
  --main-line-height: 23.4px;
  --main-font-family: "IBM Plex mono";
  --section-title-color: rgb(255 0 112);
  --main-accent-color: rgb(255 0 112);
  --hover-border-color: rgb(255 0 112 / 0.4);
  --main-title-color: #db00ff;
  --main-font-color: #f1b2ce;
  --main-decor-color: rgb(255 0 112);
  --main-button-color: rgb(255 0 112);
  --main-bg-color: #000028;
  --section-title-bg-color: rgb(255 0 112);
}

@media (min-width: 768px) {
  :root {
    --main-page-padding: 20px;
    --main-margin-block: 60px;
    --main-section-margin: 80px;
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-title-line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }

}